:local {
    .container {
        display: flex
    }

    .izhik {
        // flex: 1 20%;
        position: relative;
        // top: 20px;
        margin-left: 20px;
        // right: 20px;
        bottom: 20px;
        margin-right: 20px;
        width: 400px;
    }

    .graph {
        margin-left: 20px;
        margin-right: 20px;
        bottom: 20px;
    }

}