@import "~@blueprintjs/core/lib/scss/variables";

.container {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    height:100vh;
}

.editor {
    flex: 1 1 auto;
    background-color: $dark-gray2;
    // align-self: stretch;
    // height: 100%;
}

.sidebar {
    // flex: 1 1 100px;
    background-color: $gray1;
    // align-self: stretch;
    // height: 100%;
}