@import '~@blueprintjs/core/lib/scss/variables';

.container-top {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    // resize: vertical;
    overflow-y: auto;
    height: 100vh;
    width: 100vh;
}

.wrapper-upper {
    flex: 1;
    // align-self: stretch;
}

.wrapper-lower {
    flex: 0 200px;
    background-color: $gray2;
    // height: 100px;
}

.container-upper {
    display: flex;
    flex-direction: row-reverse;
    // align-items: stretch;
    height: 100%;
    top: 0;
    bottom: 0;
}

.wrapper-editor {
    position: relative;
    left: 0;
    top: 0;
    flex: 1 1 auto;
    background-color: $dark-gray4;
    // background-color: $gray5;
    align-self: stretch;
    height: 100%;
    width: 100%;
}

.editor {
    //   z-index: 1;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    flex: 0 1 auto;
    background-color: $gray1;
    // align-self: stretch;
    // height: 100%;
}

.lowerbar {
    flex: 0 1 auto;
    background-color: $gray3;
}

.overlay {
    position: absolute;
    // top: 0;
    left: 0;
    // right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
    height: 50px;
    width: 150px;
}